@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

body {
    background-color: black;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.title {
    color: white;
    font-size: 4rem;
    font-weight: bold;
    overflow: hidden;
    position: relative;
}